/* HEADER */

@font-face {
    font-family: Nunito;
    src: url("../Assets/Fonts/Nunito-VariableFont_wght.ttf");
}

html {
    font-family: Nunito;
}

body{
    height: 100%;
    margin: 0;
    position: relative;
}

.header{
    padding: 10px;
    height: 50px;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #ffffff;
}

.header .nav-items a{
    margin-right: 10px;
    
}

.header a{
    text-decoration: none;
    font-weight: bold;
    color: #020202;
}

.header a:hover{
    color: purple;
    transition: 0.5s;
}

.header .title{
    text-align: left;
    font-size: 20px;
}

.header .nav-title a img{
    width: 10vw;
    height: 5vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

/* FOOTER */
.footer{
    padding: 10px;
    height: 50px;
    width: 99%;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFC72C;
    background-color: #242627;
}

.footer p {
    font-size: small;
    color: white;

}

/* BODY */
.body {
    display: flex;
}

.body .banner-container{
    width: 60vw;
    height: 40vw;
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}
.body .banner-container img {
    align-self: center;
}

.body .form-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-self: center;
    margin-left: 2vw;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: purple;
}

.body .form-container .form{
    display: flex;
    margin-top: 10px;
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
    align-items: center;
    color: white;
}

.body .form-container .form-lbl{
    margin-right: 10px;
}

.body .form-container button {
    margin-top: 2vw;
    margin-left: 10vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1vw;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background-color:#eab72c;
    font-size: 20px;
    border-radius: 6px;
    font-weight: bold;
}

.body .form-container button:hover {
    background-color:#FFC72C;
    transition: 0.5s;
}

.form-input{
    border-radius: 10px;
    padding: 7px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form.error .form-input{
    border-color: red;
    border-style: dashed;
}

.form.error .address{
    margin-top: 5vw;
}

.form.error p{
    display: block;
    color: red;
}

.form.error small{
    display: block;
    color: red;
}

.form.error em{
    display: block;
    color: red;
}

.form p{
    display: none;
    position: absolute;
    font-style: italic;
    top: 28px;
}

.form small{
    display: none;
    position: absolute;
    font-style: italic;
    top: 52px;
}

.form em{
    display: none;
    position: absolute;
    top: 20px;
}

.menu {
    display: none;
}

.menu-icon{
    width: 20px;
    margin-bottom: 4px;
    height: 2px;
    background-color: purple;
}


/* RESPONSIVE */
@media (max-width: 425px) {

    /* RESPONSIVE NAVBAR */
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 25px;
    }

    .header{
        flex-direction: column;
    }

    .body {
        flex-direction: column;
        align-items: center;
    }

    .body .banner-container{ 
        display: none;
    }

    .body .form-container .form-register button{
        margin-top: 15vw;
        margin-left: 25vw;
    }

    .nav-items {
        background-color: white;
        display: flex;
        position: absolute;
        top: 70px;
        flex-direction: column;
        width: 100%;
        left: 0;
        z-index: 99999;
    }

    .header .nav-items a {
        display: none;
        padding: 10px 20px;
    }
    

    .nav-title {
        width: 100%;
    }

    .header .nav-title a img{
        height: 12vw;
        width: 25vw;
        padding-top: 1vw;
    }

    .nav-items.active{
        display: block;
    }

    .nav-items.active a {
        display: block;
        padding: 10px 20px;
    }

}